body {
  background-image: url('images/login.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Aligarh', Arial, sans-serif;
}

.grandParentContaniner {
  display: table;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
}

.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.frame {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #005EA3;
  border-radius: 18px;
  color: #005EA3;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Aligarh', Arial, sans-serif;
  font-weight: 500;
  height: max-content;
  width: 80%;
  max-width: 600px;
}

h2 {
  color: #005EA3;
  font-weight: normal;
  font-size: 25px;
}

.btn-container {
  position: relative;
  margin-top: 20px;
  color: #DDE1D6;
}

.btn,
input[type=text],
input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: 2px solid #005EA3;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: 'Aligarh', Arial, sans-serif;
  color: #005EA3;
  font-size: medium;
  text-align: left;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

::placeholder {
  color: #7F8489;
}

.button,
input[type=submit] {
  width: 75%;
  padding: 10px 8px;
  margin: 10px 0 15px 0;
  display: inline-block;
  border: none;
  border-radius: 30px;
  background: #005EA3;
  font-family: 'Aligarh', Arial, sans-serif;
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
}

.button:hover,
input[type=submit]:hover {
  border: #005EA3 solid 2px;
  border-radius: 30px;
  background: #FFFFFF;
  color: #005EA3;
}

.adminLinkContainer {
  text-align: left;
  position: absolute;
  left: 22px;
}

.adminLinkContainer2 {
  text-align: left;
  position: absolute;
  left: 225px;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .frame {
      width: 90%;
  }

  .btn,
  input[type=text],
  input[type=password],
  .button,
  input[type=submit] {
      width: 100%;
  }
}